
@{
    ViewData["Title"] = "RoadLife";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/RoadStyle.css">
    <script defer src="~/js/carWorkJs.js"></script>
}
<div id="container" class="container">
    <div id = "map" class="map">
        <img class="road" src="~/img/Road.jpg" />

        @*<img id="child" class="child" src="~/img/deliveryOrder.png" />*@
        @*<img id="delivery" class="delivery" src="~/img/deliveryOrder.png" />*@
    </div>
    <div id="container-info" class="container-info">
        <div id="inform" class="inform">
            <h3><center>Driver-Info</center></h3>
            <div id="b" class="b">
                @*<div id="new" class="new">
                       <div id="name" class="driver-name">Name</div>
                       <div id="money" class="money">Money</div>
                       <div id="status" class="status">Status</div>
                       <div id="carFuelCapacity" class="carFuelCapacity">CarFuelCapacity</div>
                  </div>*@
            </div>
                
        </div>
            

      

        <div id="btn" class="btn">
            <button id="btn-add" class="btn btn-add" name="button" onclick="newOrderClick()">Add Order</button>
    @*        <button id="btn-update" class="btn btn-update" name="button" onclick="updateButtonFunctions()">Update Driver</button>
            <button id="btn-delete" class="btn btn-delete" name="button" onclick="deleteButtonFunctions()">Delete Driver</button>*@
        </div>
    </div>
</div>
