
@{
    ViewData["Title"] = "RoadLife";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" href="~/css/RoadStyle.css">
    <script defer src="~/js/carWorkJs.js"></script>
}
<div id="container" class="container">
    <div id = "map" class="map">
        <img class="road" src="~/img/Road.jpg" />

        @*<img id="child" class="child" src="~/img/deliveryOrder.png" />*@
        @*<img id="delivery" class="delivery" src="~/img/deliveryOrder.png" />*@
    </div>
    <div id="container-info" class="container-info">
        <div id="inform" class="inform">
            <h3><center>Driver-Info</center></h3>
            <button id="btn-add" class="btn btn-add" name="button" onclick="newOrderClick()">Add Order</button>

             <div id="i" class="i">
                    @*<div id="content-info-driver" class="content-info-driver">
                        <div id="name-driver" class="name-driver">Name</div>
            
                            <div id="block-messeg-info" class="block-messeg-info">
                                <div id="money-driver" class="money-driver">Money</div>
                                <div id="status-driver" class="status-driver">Status</div>
                                <div id="fuel-driver" class="fuel-driver">Fuel
                                    <div id="minColor" class="minColor"></div>
                                </div>
                            </div>
                    </div>*@
             </div>
        </div>
    </div>      
</div>
